*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family:"Poppins", sans-serif;
  font-size: 10px;
  color: white;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(116, 162, 202);
}
h1{
  font-size: 4rem;
  margin-bottom: 4rem;
}
.score-block{
  position: fixed;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.5rem;
  z-index: 100;
  display: none;
  background-color: rgba(0,0,0,.9);
}
.score-block.active{
  display: flex;
}
.who-won{
  font-size:2rem;
  color: white;
  margin-right: 2rem;
}
.restart-btn{
  display: inline-block;
  background-color: transparent;
  padding: 0.3rem 1rem;
  border: 1px solid white;
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  transition: 0.5s all ease;
}
.restart-btn:hover{
  color:rgba(0,0,0,.9);
  background-color: white;
}
.t-container{
  width: 40%;
  height: 250px;
  background-color: rgb(116, 162, 202);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.t-blocks{
  width: 33%;
  height: 33%;
  padding: 5px;
  border-right: 4px solid white ;
  border-bottom: 4px solid white;
  overflow: hidden;
  position: relative;
}
.t-blocks:nth-child(3),.t-blocks:nth-child(6),.t-blocks:nth-child(9){
  border-right: none;
}
.t-blocks:nth-child(7),.t-blocks:nth-child(8),.t-blocks:nth-child(9){
  border-bottom: none;
}

.niaou{
  position: relative;
}
.niaou::after{
  width: 5%;
  height: 90%;
  content: "";
  position: absolute;
  left: 50%;
  transform:rotate(45deg);
  background-color: white;
}
.niaou::before{
  width: 5%;
  height: 90%;
  content: "";
  position: absolute;
  left: 50%;
  transform:rotate(-45deg);
  background-color: white;
}


.gav{
  position: relative;
}
.gav:before{
  width: 40%;
  height: 80%;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  background-color: red;
  border-radius: 50%;
}
.gav:after{
  width: 30%;
  height: 60%;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgb(116, 162, 202);
  border-radius: 50%;
}